:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  position: relative;
  z-index: 100;
  display: block;
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  width: auto;
  height: 84px;
  margin: 0 auto;
  background: #f5f7f9;
  overflow: hidden;
}
.login {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 14px;
  position: absolute;
  width: 12.64%;
  top: 26.19%;
  left: 79.03%;
  z-index: 17;
  overflow: hidden;
}
.button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 77px;
  padding: 10px 20px 10px 20px;
  background: #f5f7f9;
  z-index: 18;
  border-radius: 6px;
}
.login-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 37px;
  height: 20px;
  color: #4caf4f;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 19;
}
.button-2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 91px;
  padding: 10px 20px 10px 20px;
  background: #4caf4f;
  z-index: 20;
  border-radius: 6px;
}
.sign-up {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 51px;
  height: 20px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 21;
}
.heading-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
  position: absolute;
  width: 40.83%;
  top: 35.71%;
  left: 29.55%;
  z-index: 1;
  overflow: hidden;
}
.header-menu-default {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 46px;
  z-index: 2;
}
.label-home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #18191f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.menu-item-default {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 57px;
  z-index: 4;
}
.service-label {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #18191f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.menu-item-default-3 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 58px;
  z-index: 6;
}
.feature-label {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #18191f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.menu-item-default-4 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 60px;
  z-index: 8;
}
.product-label {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #18191f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.menu-item-default-5 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 86px;
  z-index: 10;
}
.label {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #18191f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.menu-item-default-6 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 31px;
  z-index: 12;
}
.label-7 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #18191f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 10.73%;
  top: 35.71%;
  left: 7.29%;
  z-index: 14;
}
.icon {
  flex-shrink: 0;
  position: relative;
  width: 35px;
  height: 24px;
  background: url(https://static.codia.ai/image/2025-03-27/47fa6313-3961-4646-9886-d839d4a252ae.svg)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.nexcent {
  flex-shrink: 0;
  position: relative;
  width: 111.49px;
  height: 20.662px;
  background: url(https://static.codia.ai/image/2025-03-27/3028d623-ccc8-4d77-9b3b-25407b60881d.svg)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}

.heading-name div a {
  text-decoration: none;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 25;
}

.menu-icon span {
  height: 3px;
  width: 25px;
  background: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: #f5f7f9;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 30;
  transition: right 0.3s ease;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  justify-content: space-between;
}

.sidebar-login-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
}

.close-button {
  align-self: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
  color: #18191f;
  font-family: Inter, var(--default-font-family);
  font-size: 35px;
  font-weight: 400;
  text-decoration: none;
}

.sidebar-menu a {
  margin: 10px 0;
  text-decoration: none;
  color: #18191f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
    top: 25px;
  }

  .heading-name {
    display: none;
  }

  .menu-toggle:checked ~ .sidebar {
    display: block;
    right: 0;
  }

  .login {
    display: none;
  }
}
