<head>
  <link rel="stylesheet" href="/css/client.css" />
</head>
<div class="main-container-client">
  <div class="clients-1">
    <span class="section-title">Our Clients</span><span class="description"
      >We have been working with some Fortune 500+ clients</span
    >
  </div>
  <div class="clients-logos">
    <div class="logo-1"><div class="logo-2"></div></div>
    <div class="logo-3"><div class="logo-4"></div></div>
    <div class="logo-5"><div class="logo-6"></div></div>
    <div class="logo-7"><div class="logo-8"></div></div>
    <div class="logo-9"><div class="logo-a"></div></div>
    <div class="logo-b"><div class="logo-c"></div></div>
    <div class="logo-d"><div class="logo-e"></div></div>
  </div>
</div>
