<head>
  <link rel="stylesheet" href="/css/community.css" />
</head>
<div class="main-container-community">
  <div class="community-1">
    <span class="section-title-community"
      >Manage your entire community in a single system</span
    ><span class="description-community">Who is Nextcent suitable for? </span>
  </div>
  <div class="frame-community">
    <div class="membership-organizations">
      <div class="member">
        <div class="icon-community">
          <div class="icon-2"></div>
          <div class="rectangle"></div>
        </div>
        <span class="membership-organisations">Membership Organisations</span>
      </div>
      <div class="frame-3">
        <span class="membership-management"
          >Our membership management software provides full automation of
          membership renewals and payments</span
        >
      </div>
    </div>
    <div class="national-associations">
      <div class="member-4">
        <div class="icon-5">
          <div class="icon-6"></div>
          <div class="rectangle-7"></div>
        </div>
        <span class="national-associations-8">National Associations</span>
      </div>
      <div class="frame-3">
        <span class="membership-management"
          >Our membership management software provides full automation of
          membership renewals and payments</span
        >
      </div>
    </div>
    <div class="national-associations-b">
      <div class="member-c">
        <div class="icon-d">
          <div class="icon-e"></div>
          <div class="rectangle-f"></div>
        </div>
        <span class="clubs-and-groups">Clubs And Groups</span>
      </div>
      <div class="frame-3">
        <span class="membership-management"
          >Our membership management software provides full automation of
          membership renewals and payments</span
        >
      </div>
    </div>
  </div>
</div>
