<head>
    <link rel="stylesheet" href="/css/header.css" />
</head>
<div class="main-container">
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="login">
      <div class="button"><span class="login-1">Login</span></div>
      <div class="button-2"><span class="sign-up">Sign up</span></div>
    </div>
    <div class="heading-name">
      <div class="header-menu-default">
        <a href="/"><span class="label-home">Home</span></a>
      </div>
      <div class="menu-item-default">
        <a href="/service"><span class="service-label">Service</span></a>
      </div>
      <div class="menu-item-default-3">
        <a href="/feature"><span class="feature-label">Feature</span></a>
      </div>
      <div class="menu-item-default-4">
        <a href="/product"><span class="product-label">Product</span></a>
      </div>
      <div class="menu-item-default-5">
        <a href="/testimonial"><span class="label">Testimonial</span></a>
      </div>
      <div class="menu-item-default-6">
        <a href="/faq"><span class="label-7">FAQ</span></a>
      </div>
    </div>
    <div class="logo">
      <div class="icon"></div>
      <div class="nexcent"></div>
    </div>
    <div class="sidebar">
      <div class="sidebar-menu">
        <label for="menu-toggle" class="close-button">&times;</label>
        <a href="/"><span class="label-home">Home</span></a>
        <a href="/service"><span class="service-label">Service</span></a>
        <a href="/feature"><span class="feature-label">Feature</span></a>
        <a href="/product"><span class="product-label">Product</span></a>
        <a href="/testimonial"><span class="label">Testimonial</span></a>
        <a href="/faq"><span class="label-7">FAQ</span></a>
        <div class="sidebar-login-signup">
          <div class="button"><span class="login-1">Login</span></div>
          <div class="button-2"><span class="sign-up">Sign up</span></div>
        </div>
      </div>
    </div>
</div>
