<head>
    <link rel="stylesheet" href="/css/hero.css" />
</head>
<div class="main-container-hero">
    <div class="hero-section">
      <div class="frame">
        <div class="text">
          <div class="lessons-insights-years">
            <span class="lessons-insights">Lessons and insights </span
            ><span class="from-years">from 8 years</span>
          </div>
          <span class="business-photographer"
            >Where to grow your business as a photographer: site or social
            media?</span
          >
        </div>
        <div class="hero-button"><span class="hero-label">Register</span></div>
      </div>
      <div class="illustration">
        <div class="flex-column-b">
          <div class="freepik-shadow-inject"></div>
          <div class="freepik-windows-inject"></div>
          <div class="freepik-device-inject">
            <div class="freepik-monitor-inject"></div>
          </div>
          <div class="freepik-shadow-inject-1"></div>
          <div class="freepik-shadow-inject-2"></div>
        </div>
        <div class="freepik-speech-bubbles-inject"></div>
        <div class="flex-column-fe">
          <div class="freepik-character-inject">
            <div class="freepik-character-inject-3"></div>
          </div>
          <div class="freepik-shadow-inject-4"></div>
        </div>
      </div>
    </div>
</div>