<head>
  <link rel="stylesheet" href="/css/hero2.css" />
</head>
<div class="main-container-hero2">
  <div class="unlock-1">
    <div class="frame-hero2">
      <div class="mobile-login">
        <div class="background-complete"></div>
        <div class="screen"></div>
        <div class="background-simple"></div>
        <div class="character"></div>
        <div class="character-2"></div>
        <div class="shadow"><div class="vector"></div></div>
      </div>
    </div>
    <div class="frame-3-hero2">
      <div class="frame-4-hero2">
        <span class="the-unseen"
          >The unseen of spending three years at Pixelgrade</span
        ><span class="lorem-ipsum"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
          justo ipsum. Sed accumsan quam vitae est varius fringilla.
          Pellentesque placerat vestibulum lorem sed porta. Nullam mattis
          tristique iaculis. Nullam pulvinar sit amet risus pretium auctor.
          Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. Donec
          elementum pulvinar odio.</span
        >
      </div>
      <div class="button-hero2">
        <span class="label-hero2">Learn More</span>
      </div>
    </div>
  </div>
</div>
